<!-- https://www.cnblogs.com/gamedaybyday/archive/2004/01/13/9906542.html -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script type="text/javascript" src="/jquery.min.js"></script>
	<h1>教育证书校验系统</h1>
	<div>
		<input type="file" id="files" name="files" />
	</div>

	<div>
		<h3 style="text-align:center" id="test">
			</h5>
	</div>

	<script src="/web3.js"></script>
	<script>
		let url_geth = 'http://127.0.0.1:8545';
		let web3 = new Web3(url_geth);
		console.log("web3版本：", web3.version);

		//查询
		const Recipient_abi =
			[
				{
					"inputs": [
						{
							"internalType": "string",
							"name": "_name",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "_nric",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "_course",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "_studentId",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "_transcript",
							"type": "string"
						}
					],
					"name": "addJieShouRen",
					"outputs": [],
					"stateMutability": "nonpayable",
					"type": "function"
				},
				{
					"inputs": [
						{
							"internalType": "uint256",
							"name": "",
							"type": "uint256"
						}
					],
					"name": "jsrlist",
					"outputs": [
						{
							"internalType": "string",
							"name": "name",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "nric",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "course",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "studentId",
							"type": "string"
						},
						{
							"internalType": "string",
							"name": "transcript",
							"type": "string"
						}
					],
					"stateMutability": "view",
					"type": "function"
				}
			];

		var inputElement = document.getElementById("files");
		inputElement.addEventListener("change", handleFiles, false);
		function handleFiles() {
			var selectedFile = document.getElementById("files").files[0];//获取读取的File对象
			var name = selectedFile.name;//读取选中文件的文件名
			var size = selectedFile.size;//读取选中文件的大小
			// console.log("文件名:" + name + "大小：" + size);
			var reader = new FileReader();//这里是核心！！！读取操作就是由它完成的。
			reader.readAsText(selectedFile);//读取文件的内容
			reader.onload = function (data) {
				console.log("读取结果：", this.result);//当读取完成之后会回调这个函数，然后此时文件的内容存储到了result中。直接操作即可。
				let json = JSON.parse(this.result);

				if (web3.utils.isAddress(json.deploy)) {
					const Recipient_address = json.deploy;
					const Recipient_contract = new web3.eth.Contract(Recipient_abi, Recipient_address);
					Recipient_contract.methods.jsrlist(0).call((error, result1) => {
						if (!error) {
							console.log('name:', result1.name)
							console.log('nric:', result1.nric)
							console.log('course:', result1.course)
							console.log('studentId:', result1.studentId)
							console.log('transcript:', result1.transcript)

							var str = JSON.stringify(result1);
							var index = str.lastIndexOf('"name"');
							var finalValue = str.substring(index + 1);

							const aa = JSON.stringify(json.data.recipient);
							const bb = '{"' + finalValue;

							if (aa == bb) {

								$('#test').append('<p>' +

									'<h2>' + "证书被授予者" + '</h2>' + '</p>' +
									"学生姓名：" + json.data.recipient.name + '</p>' +
									"学生身份证号：" + json.data.recipient.nric + '</p>' +
									"学生专业：" + json.data.recipient.course + '</p>' +
									"学生号：" + json.data.recipient.studentId + '</p>' +
									"学生成绩：" + json.data.recipient.transcript + '</p>' +
									"合约部署地址：" + json.deploy + '</p>' +
									"合约交易哈希：" + json.transaction_hash + '</p>'
									+ '</p>');

							} else {
								$('#test').append("教育证书已被篡改，无法读取证书信息！！！")
							}
						}
					});
				} else {
					$('#test').append("该证书为无效证书，请重新上传教育证书文件！！！")
				}
			};
		};
	</script>
</head>

</html>